* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}
.container {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
}

.slider {
    width: 100%;
    height: 60%;
    margin: auto;
    position: relative;
}

.prev, .next, .slide {
float: left;
height: 100%;
}

.prev, .next {
    width: 7%;
    display: flex;
    cursor: pointer;
}

.prev i, .next i {
    margin: auto;
}

.prev:hover, .next:hover {
    background-color: rgb(31, 32, 33);
}

.slide {
    width: 86%;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;

}

.slide img.active {
    display: inline-block;
}

.bullets-on, .bullets-off {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.bullets-on i, .bullets-off i {
    margin: 0 5px;
}

.bullets-on i {
    opacity: 0;
}

i.actived {
    opacity: 1;
}
